<mat-card>
  <mat-grid-list cols="2" style="width: 100%">
    <button mat-flat-button color="primary" style="width: 10%" (click)="openDialog()"><mat-icon style="height: 30px">add</mat-icon> Ajouter</button>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </mat-grid-list>


  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Code Column -->
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
        <td mat-cell *matCellDef="let row"> {{row.code}} </td>
      </ng-container>

      <!-- Libellé Column -->
      <ng-container matColumnDef="libelle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Libellé </th>
        <td mat-cell *matCellDef="let row"> {{row.libelle}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="add">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
        </th>
        <td mat-cell *matCellDef="let row" style="text-align: center">
          <a mat-button class="action-button" href="">
            <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
          </a>
          <a mat-button class="action-button" (click)="deleteTypeSectionListener(row)" >
            <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>




</mat-card>

