
<div *ngIf="!goToCreation" class="row personne-selection">
  <div id="select-parent" class="col-4" (click)="selectParent()" i><h3>PARENT</h3></div>
  <div id="select-eleve" class="col-4" (click)="selectEleve()"><h3>ELEVE</h3></div>
  <div id="select-professeur" class="col-4" (click)="selectProfesseur()"><h3>PROFESSEUR</h3></div>
</div>
<div *ngIf="goToCreation">
  <h3> {{f.type.value === 'Eleve' ? 'Nouvel' : 'Nouveau'}} {{f.type.value}}</h3>
  <form [formGroup]="addForm" enctype="multipart/form-data">
    <mat-card>
      <div class="row">
        <div class="col-8">
          <mat-form-field>
            <input matInput placeholder="Nom" formControlName="nom">
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="f.nom.invalid">
              Champs Obligatoire
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Prénom" formControlName="prenom">
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="f.prenom.invalid">
              Champs Obligatoire
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-4" style="display: flex; justify-content: center">
          <input type="file" style="display: none" (change)="onSelectPhoto($event)" #photoInput>
          <button id="upload-picture-btn" type="button" (click)="photoInput.click()"
                  [ngClass]="uploadedPhoto ? 'uploaded-photo': ''">
            <mat-icon>photo</mat-icon>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-5">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Date de Naissance" formControlName="dateNaissance">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

            <mat-error *ngIf="f.dateNaissance.invalid">
              Champs Obligatoire
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-5">
          <mat-form-field>
            <input matInput placeholder="Lieu de Naissance" formControlName="lieuNaissance">
            <mat-icon matSuffix>person_pin_circle</mat-icon>
            <mat-error *ngIf="f.prenom.invalid">
              Champs Obligatoire
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field>
            <mat-select placeholder="Sexe" formControlName="sexe">
              <mat-option *ngFor="let sexe of sexeOptions" [value]="sexe">
                {{sexe}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="f.sexe.invalid">
              Veuillez spécifier votre sexe
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12">

          <!-- <mat-form-field [ngClass]=" !adresse.invalid ? 'valid-input':''">-->
          <mat-form-field >
            <input matInput placeholder="Adresse" formControlName="adresse" >
            <mat-icon matSuffix>home</mat-icon>
            <mat-error *ngIf="f.adresse.invalid">
              Champs Obligatoire
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
            <mat-icon matSuffix>alternate_email</mat-icon>
            <mat-error *ngIf="f.email.invalid">
              Veuillez saisir correctement l'email. <strong>Exemple: jane@doe.net</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field>
            <span matPrefix>(+213) &nbsp;</span>
            <input matInput placeholder="Téléphone" formControlName="telephone">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="f.telephone.invalid">
              Veuillez saisir correctement le numéro de téléphone
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="createParent">
          <app-selected-enfants #selectedEnfantsComponents></app-selected-enfants>
      </div>

      <div *ngIf="createEleve" >
        <mat-form-field>
          <mat-select placeholder="Parent" formControlName="parent">
            <mat-option *ngFor="let parent of parentOptions" [value]="parent">
              {{parent.nom}} {{parent.prenom}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="createProfesseur">
          <app-selected-matieres></app-selected-matieres>
      </div>
    </mat-card>
    <div class="form-actions">
      <button mat-flat-button type="button">Annuler</button>
      <button mat-flat-button color="primary"  (click)="onValidationClick()">
        Valider
      </button>
    </div>
  </form>

</div>
