/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

td a.action-button{
/*  margin: 0 10px;*/
  padding: 0 5px;
  color: #fe9365;
  min-width: 40px;
}

.table-header div[class*="col"]{
  margin: auto auto
}
.form-actions{
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
.form-actions button{
  margin: 0 7px;
}
