<mat-card>
  <mat-card-header>Matieres</mat-card-header>
  <div class="mat-card-body">
    <mat-grid-list cols="2" style="width: 100%">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </mat-grid-list>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc">

        <!-- Selection Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox color="primary"
                          (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" [ngClass]="{'selected-item': selection.isSelected(row)}">
            <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          (change)="onChangeListener($event,row)"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row" [ngClass]="{'selected-item': selection.isSelected(row)}">
            {{row.id}}
          </td>
        </ng-container>

        <!-- Code Column -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
          <td mat-cell *matCellDef="let row" [ngClass]="{'selected-item': selection.isSelected(row)}">
            {{row.code}}
          </td>
        </ng-container>

        <!-- Libelle Column -->
        <ng-container matColumnDef="libelle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Libellé </th>
          <td mat-cell *matCellDef="let row" [ngClass]="{'selected-item': selection.isSelected(row)}">
            {{row.libelle}}
          </td>
        </ng-container>

        <!-- couleur Column -->
        <ng-container matColumnDef="couleur">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Couleur </th>
          <td mat-cell *matCellDef="let row" [ngClass]="{'selected-item': selection.isSelected(row)}">
            <span [ngStyle]="{'background-color':row.couleur}"
              [ngClass]="{'color-span-light':isTooDark(row.couleur),'color-span-dark':!isTooDark(row.couleur)}">
              {{row.couleur }}
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>

</mat-card>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button (click)="onValidationClick()">Valider</button>
</div>
