mat-card{
  border: 1px solid #1c2539;
  padding: 0px;
  box-shadow: none !important;
}
.mat-card-body{
  margin: 10px!important;
}
table {
  width: 100%;
}
.mat-elevation-z8{
  box-shadow: 0px 2px 2px -3px rgba(0, 0, 0, 0.1), 0px 2px 2px 1px rgba(0, 0, 0, 0.1), 0px 3px 2px 2px rgba(0, 0, 0, 0.10);
}
.mat-form-field {
  font-size: 14px;
  width: 88%;
  margin-left: 20px;
}

td, th {
  width: 20%;
}

.mat-flat-button{
  padding: 5px;
  min-width: 0px;
  min-height: 0px;
  width: auto;
  height: 40px;
}
mat-grid-list .row .col-11{
  padding-left: 0px!important;
}

mat-card-header{
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #1c2539;
  color: white;
  height: 40px;
  margin-bottom: 10px;
}

.color-span-light{
  padding: 3px 5px;
  color: white;
  border-radius: 5px;
}
.color-span-dark{
  padding: 3px 5px;
  color: #1c2539;
  border-radius: 5px;
}
