
<mat-sidenav-container class="sidenav-container">
  <!--*ngIf="affiche"-->
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)"
               *ngIf="currentUser" >
    <mat-toolbar>
      <span>Menu</span>
    </mat-toolbar>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>

            <mat-icon>view_day</mat-icon>
            <span>
              Données de Base
            </span>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-nav-list >
          <a mat-list-item routerLink="typesanction" class="menu-item">Type Sanction</a>
          <a mat-list-item routerLink="sanction" class="menu-item">Sanction</a>
          <a mat-list-item routerLink="absence" class="menu-item">Absence</a>
          <a mat-list-item routerLink="elevelist" class="menu-item">Elève</a>
          <a mat-list-item routerLink="parentlist" class="menu-item">Parent</a>
          <a mat-list-item routerLink="professeurlist" class="menu-item">Professeur</a>
          <a mat-list-item routerLink="niveaulist" class="menu-item">Niveau</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-sidenav>
  <mat-sidenav-content>
    <!--*ngIf="affiche"-->
    <mat-toolbar   color="accent" *ngIf="currentUser" >
      <div class="left-toolbar" >
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()" >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>
      <!--*ngIf="affiche"-->
      <div class="right-toolbar" *ngIf="currentUser" >

          <button mat-menu-item routerLink="register"> <mat-icon color="primary">more_vert</mat-icon>Register</button>

        <button mat-flat-button [matMenuTriggerFor]="menu" color="primary"><mat-icon>add</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="personne"><mat-icon color="primary">person</mat-icon>Personne</button>
          <button mat-menu-item><mat-icon color="primary">group</mat-icon>Groupe</button>
          <button mat-menu-item><mat-icon color="primary">school</mat-icon>Formation</button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <div class="main-content">


      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

